.shower{
    background-color: #EBFF4D;
    /* padding:1rem; */
    /* display: inline-block; */
    font-size: 5rem;
    margin: 0px;/*
    text-align: center;
    clear: both; */
    
}
.shower:before{
    padding-top:25%;
    content:"";
    display: block;
}
.shower:after {
    content: "";
    padding-bottom:25%;
    display: block;
}

.win-text{
    position: relative;
    font-size: 10rem;
    
}

/* .row{
    margin:0px!important;
} */