.shower{
    background-color: aqua;
    /* padding:1rem; */
    /* display: inline-block; */
    font-size: 5rem;
    margin: auto;/*
    text-align: center;
    clear: both; */
    
}
.shower:before{
    padding-top:25%;
    content:"";
    display: block;
}
.shower:after {
    content: "";
    padding-bottom:25%;
    display: block;
  }
/* .row{
    margin:0px!important;
} */